@font-face {
  font-family: "Ankha VTES";
  src: url("./ankha2.otf") format("opentype");
}
@font-face {
  font-family: "VTES Clans";
  src: url("./vtes-clans.otf") format("opentype");
}

.custom-checkbox-root .MuiSvgIcon-root {
  width: 36px;
  height: 36px;
  font-size: medium;
}

i {
  font-family: "Ankha VTES";
  font-style: normal;
  font-size: 1.8rem;
}

c {
  font-family: "VTES Clans";
  font-style: normal;
  font-size: 1.8rem;
}

.krcg-icon {
  font-family: "Ankha VTES";
  font-style: normal;
}

.krcg-clan {
  font-family: "VTES Clans";
  font-style: normal;
}

.disc-inactive {
  cursor: pointer;
  opacity: 0.5;
  transition: transform 0.2s;
}
.disc-inactive:hover {
  transform: scale(1.1);
}
.disc-active {
  cursor: pointer;
  opacity: 1;
  transition: transform 0.2s;
}
.disc-active:hover {
  transform: scale(1.1);
}

body {
  background: #f2f2f2;
  color: #333;
}
.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
}

.single:hover {
  border-left: 8px solid #4979ff;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: blue;
  text-decoration: underline;
}
